body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
  }
  
  .attendance-container {
    max-width: 370px; /* Reduced width */
    margin: 120px auto;
    padding: 45px 20px; /* Adjust padding: top/bottom 30px, left/right 20px */
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .attendance-heading {
    text-align: center;
    margin-bottom: 38px;
    margin-top: -1px;
  }
  
  .attendance-label {
    font-weight: bold;
   
  }
  
  .attendance-input {
    width: 100%;
    padding: 11px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 8px;
  }

  .attendance-button {
    width: 100%;
    padding: 11px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 18px;
  }
  
  .attendance-button:hover {
    background-color: #0056b3;
  }