
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



   .table-container {
   /* margin-bottom: 40px; */
   background-color: #fff;
   display:inline-block;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 90%;

}

body {
  
    background-color: #f6f6f6;
    min-height: 100vh;
}

.main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 100px;
   margin-left: 210px;
}
.TableInfo {
   font-size: 31px;
   font-weight: 500;
   text-align: center;
   flex: 1;
}

.table-div {
   overflow-x: auto;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}

thead th, tbody td {
   padding: 10px 8px;/* Adjusted padding */
   text-align: center;
   border: 1px solid #ddd;
}

thead th {
   background-color: #4c71f5;
   color: white;
}

tbody tr:nth-child(even) {
   background-color: #f2f2f2;
}

tbody td {
   font-size: 13px;
   font-weight: 500;
}

td:last-child, th:last-child {
   text-align: center;
}

td, th {
   white-space: nowrap;
}

.addComponent {
   display: block;
}

.action-column .view {
   text-decoration: none;
   color: white;
   font-weight: 600;
   margin-right: 25px;
   border-radius: 7px;
   background-color: #007bff; /* Change to blue */
   padding: 4px 7px 4px 7px;
}

.action-column .view:hover {
   background-color: #0056b3; /* Change to a darker shade of blue for hover */
}

.action-column .edit {
   text-decoration: none;
   color: white;
   font-weight: 600;
   margin-right: 25px;
   border-radius: 7px;
   background-color: #4CAF50;
   padding: 4px 7px 4px 7px;
}

.action-column .edit:hover {
   background-color: #74b977;
}

.action-button {
   background-color: #00bbf0;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
   margin-right: 20px;
}

.action-button:hover {
   background-color: #0077a3;
}
.table-top {
   display: flex;
   align-items: center; 
   margin-top: 10px;/* Align items vertically */
}
.green {
   color: green;
   background-color: rgb(203, 255, 203);
   border-radius: 12px;
   font-weight: 515;
   padding: 2px 6px;
   
}
.red {
   color: rgb(232, 35, 35);
   background-color: rgb(255, 213, 213);
   border-radius: 12px;
   padding: 2px 0px;
   font-weight: 500;
}

