body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 830px;
    margin: 20px auto;
    margin-left: 440px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 112px;
}
/* CSS for Images */
.image-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -427px;
    margin-bottom: -8px;
    margin-right: -20px;

}

.image-container img {
    width: 450px;
    height: 341px;
    border-radius: 5px;
    margin-top: 36px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.salary-details {
    margin-bottom: 72px;
}

.salary-details h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.salary-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.9; /* Adjust line height */
}


/* Colorful Styling */
.header-bg {
    background-color: #007bff;
    color: #fff;
    padding: 20px 20px;
    border-radius: 3px;
    margin-bottom: 35px;
    width: 833px;
    margin-left: -20px;
    margin-top: -25px;
}
.action-button {
    background-color: #00bbf0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 25px;
    margin-bottom: -15px;
    margin-left: 5px;
}

.action-button:hover {
    background-color: #0077a3;
}
.pay {
    background-color: #4CAF50; /* Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 25px;
    margin-bottom: -15px;
    margin-left: 40px;
}

.pay:hover {
    background-color: #388E3C; /* Darker green for hover effect */
}
